absl-py==2.3.1
action-msgs==2.0.3
action-tutorials-interfaces==0.33.6
action-tutorials-py==0.33.6
actionlib-msgs==5.3.6
actuator-msgs==0.0.1
ament-cmake-test==2.5.4
ament-copyright==0.17.3
ament-cppcheck==0.17.3
ament-cpplint==0.17.3
ament-flake8==0.17.3
ament-index-python==1.8.1
ament-lint==0.17.3
ament-lint-cmake==0.17.3
ament-package==0.16.4
ament-pep257==0.17.3
ament-uncrustify==0.17.3
ament-xmllint==0.17.3
angles==1.16.0
antlr4-python3-runtime==4.9.3
black==25.9.0
bond==4.1.2
builtin-interfaces==2.0.3
camera-calibration==5.0.11
click==8.3.0
cloudpickle==3.1.1
composition-interfaces==2.0.3
contourpy==1.3.3
control-msgs==5.5.0
cv-bridge==4.1.0
cycler==0.12.1
demo-nodes-py==0.33.6
-e git+https://github.com/facebookresearch/detectron2.git@a1ce2f956a1d2212ad672e3c47d53405c2fe4312#egg=detectron2
diagnostic-msgs==5.3.6
diagnostic-updater==4.2.6
domain-coordinator==0.12.0
example-interfaces==0.12.0
examples-rclpy-executors==0.19.6
examples-rclpy-minimal-action-client==0.19.6
examples-rclpy-minimal-action-server==0.19.6
examples-rclpy-minimal-client==0.19.6
examples-rclpy-minimal-publisher==0.19.6
examples-rclpy-minimal-service==0.19.6
examples-rclpy-minimal-subscriber==0.19.6
filelock==3.13.1
fonttools==4.60.1
fsspec==2024.6.1
fvcore==0.1.5.post20221221
generate-parameter-library-py==0.5.0
geographic-msgs==1.0.6
geometry-msgs==5.3.6
gps-msgs==2.1.1
grpcio==1.75.1
hydra-core==1.3.2
image-geometry==4.1.0
interactive-markers==2.5.4
iopath==0.1.9
Jinja2==3.1.4
kiwisolver==1.4.9
laser-geometry==2.7.1
launch==3.4.6
launch-ros==0.26.9
launch-testing==3.4.6
launch-testing-ros==0.26.9
launch-xml==3.4.6
launch-yaml==3.4.6
lifecycle-msgs==2.0.3
logging-demo==0.33.6
map-msgs==2.4.1
Markdown==3.9
MarkupSafe==2.1.5
matplotlib==3.10.7
message-filters==4.11.7
mpmath==1.3.0
mypy_extensions==1.1.0
nav-msgs==5.3.6
nav2-common==1.3.8
nav2-msgs==1.3.8
networkx==3.3
numpy==2.1.2
nvidia-cublas-cu12==12.6.4.1
nvidia-cuda-cupti-cu12==12.6.80
nvidia-cuda-nvrtc-cu12==12.6.77
nvidia-cuda-runtime-cu12==12.6.77
nvidia-cudnn-cu12==9.10.2.21
nvidia-cufft-cu12==11.3.0.4
nvidia-cufile-cu12==1.11.1.6
nvidia-curand-cu12==10.3.7.77
nvidia-cusolver-cu12==11.7.1.2
nvidia-cusparse-cu12==12.5.4.2
nvidia-cusparselt-cu12==0.7.1
nvidia-nccl-cu12==2.27.3
nvidia-nvjitlink-cu12==12.6.85
nvidia-nvtx-cu12==12.6.77
omegaconf==2.3.0
opencv-python==4.12.0.88
osrf-pycommon==2.1.7
packaging==25.0
pathspec==0.12.1
pcl-msgs==1.0.0
pendulum-msgs==0.33.6
pillow==11.0.0
platformdirs==4.5.0
portalocker==3.2.0
protobuf==6.32.1
pycocotools==2.0.10
pyparsing==3.2.5
python-dateutil==2.9.0.post0
python-qt-binding==2.2.1
pytokens==0.1.10
PyYAML==6.0.3
qt-dotgraph==2.7.5
qt-gui==2.7.5
qt-gui-cpp==2.7.5
qt-gui-py-common==2.7.5
quality-of-service-demo-py==0.33.6
rcl-interfaces==2.0.3
rclpy==7.1.5
rcutils==6.7.4
resource-retriever==3.4.4
rmw-dds-common==3.1.0
robot-localization==3.8.3
ros-gz-bridge==1.0.16
ros-gz-interfaces==1.0.16
ros-gz-sim==1.0.16
ros2action==0.32.6
ros2bag==0.26.9
ros2bag-mcap-cli==0.26.9
ros2bag-sqlite3-cli==0.26.9
ros2cli==0.32.6
ros2component==0.32.6
ros2doctor==0.32.6
ros2interface==0.32.6
ros2launch==0.26.9
ros2lifecycle==0.32.6
ros2multicast==0.32.6
ros2node==0.32.6
ros2param==0.32.6
ros2pkg==0.32.6
ros2run==0.32.6
ros2service==0.32.6
ros2topic==0.32.6
rosbag2-interfaces==0.26.9
rosbag2-py==0.26.9
rosgraph-msgs==2.0.3
rosidl-adapter==4.6.6
rosidl-cli==4.6.6
rosidl-cmake==4.6.6
rosidl-generator-c==4.6.6
rosidl-generator-cpp==4.6.6
rosidl-generator-py==0.22.1
rosidl-generator-type-description==4.6.6
rosidl-parser==4.6.6
rosidl-pycommon==4.6.6
rosidl-runtime-py==0.13.1
rosidl-typesupport-c==3.2.2
rosidl-typesupport-cpp==3.2.2
rosidl-typesupport-fastrtps-c==3.6.2
rosidl-typesupport-fastrtps-cpp==3.6.2
rosidl-typesupport-introspection-c==4.6.6
rosidl-typesupport-introspection-cpp==4.6.6
rpyutils==0.4.1
rqt-action==2.2.0
rqt-bag==1.5.5
rqt-bag-plugins==1.5.5
rqt-console==2.2.1
rqt-graph==1.5.5
rqt-gui==1.6.0
rqt-gui-py==1.6.0
rqt-msg==1.5.1
rqt-plot==1.4.4
rqt-publisher==1.7.2
rqt-py-common==1.6.0
rqt-py-console==1.2.2
rqt-reconfigure==1.6.2
rqt-service-caller==1.2.1
rqt-shell==1.2.2
rqt-srv==1.2.2
rqt-topic==1.7.3
sensor-msgs==5.3.6
sensor-msgs-py==5.3.6
service-msgs==2.0.3
setuptools==70.2.0
shape-msgs==5.3.6
six==1.17.0
smclib==4.1.2
sros2==0.13.4
statistics-msgs==2.0.3
std-msgs==5.3.6
std-srvs==5.3.6
stereo-msgs==5.3.6
sympy==1.13.3
tabulate==0.9.0
teleop-twist-keyboard==2.4.0
tensorboard==2.20.0
tensorboard-data-server==0.7.2
termcolor==3.1.0
tf-transformations==1.1.0
tf2-geometry-msgs==0.36.14
tf2-kdl==0.36.14
tf2-msgs==0.36.14
tf2-py==0.36.14
tf2-ros-py==0.36.14
tf2-sensor-msgs==0.36.14
tf2-tools==0.36.14
theora-image-transport==4.0.6
topic-monitor==0.33.6
torch==2.8.0+cu126
torchaudio==2.8.0+cu126
torchvision==0.23.0+cu126
tqdm==4.67.1
trajectory-msgs==5.3.6
triton==3.4.0
turtlesim==1.8.3
type-description-interfaces==2.0.3
typing_extensions==4.12.2
unique-identifier-msgs==2.5.0
velodyne-msgs==2.5.1
vision-msgs==4.1.1
visualization-msgs==5.3.6
Werkzeug==3.1.3
xacro==2.1.1
yacs==0.1.8
